<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="head"></head>

<body class="hold-transition skin-blue sidebar-mini">
	<!-- Site wrapper -->
	<div class="wrapper">

		<!-- header -->
		<header th:replace="headerUser"></header>

		<!-- =============================================== -->

		<!-- Left side column. contains the sidebar -->
		<aside th:replace="navigation"></aside>

		<!-- =============================================== -->

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<section class="content-header">

                <h1>
                    User Profile
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li><a href="#">Examples</a></li>
                    <li class="active">User profile</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">

                <div class="row">
                    <div class="col-md-3">

                        <!-- Profile Image -->
                        <div class="box box-primary">
                            <div class="box-body box-profile" th:objecet="${user}">
                                <img class="profile-user-img img-responsive img-circle" src="/resources/dist/img/user4-128x128.jpg"
                                    alt="User profile picture">

                                <h3 class="profile-username text-center" th:text="*{fullName}"></h3>

                                <p class="text-muted text-center">Software Engineer</p>

                                <ul class="list-group list-group-unbordered">
                                    <li class="list-group-item">
                                        <b>Phone</b> <a class="pull-right">123123123</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Email</b> <a class="pull-right">thanh@gmail.com</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-9">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#activity" data-toggle="tab">Set Role</a></li>
                                <li><a href="#settings" data-toggle="tab">Edit</a></li>
                            </ul>
                            
                            <div class="tab-content">
                                <div class="active tab-pane" id="activity">
                                    <div class="box box-success">
                                        <div class="box-header">
                                            <h3 class="box-title">Role and permission</h3>
                                            <div class="form-group">
                                    <label>Select Role</label>
                                    <select class="form-control" style="width: 50%">
                                      <option th:each="news : ${listRoles}" th:text="${news.roleName}"></option>
                                    </select>
                                  </div>
                                        </div>
                                        <div class="box-body">
                                            <table class="table table-condensed ">
                                                <tr>
                                                    <th>
                                                        Permission
                                                    </th>
                                                    <th th:each="menu : ${listMenu}" th:value="${menu.menu_name}" th:text="${menu.menu_name}"></th>
                                                </tr>
                                                <tr>
                                                    <td>Menu</td>
                                                    <th th:each="menu : ${listMenu}" th:value="${menu.menu_name}">
                                                        <div class="form-group">
                                                            <label>
                                                                <input type="checkbox" td:id="${menu.menu_id}" class="minimal" checked>
                                                            </label>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                    <!-- /.post -->
                                </div>
                                <div class="tab-pane" id="settings">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label for="inputName" class="col-sm-2 control-label">Full Name</label>

                                            <div class="col-sm-10">
                                                <input type="email" class="form-control" id="inputName" placeholder="Full Name" required="required">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputName" class="col-sm-2 control-label">Mobile</label>

                                            <div class="col-sm-10">
                                                <input type="number" class="form-control" id="inputName" placeholder="Mobile" required="required">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputSkills" class="col-sm-2 control-label">Password</label>

                                            <div class="col-sm-10">
                                                <input type="password" class="form-control" id="inputSkills" placeholder="password">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputSkills" class="col-sm-2 control-label">Retype Password</label>

                                            <div class="col-sm-10">
                                                <input type="password" class="form-control" id="inputSkills" placeholder="password">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> I agree to the <a href="#">terms and
                                                            conditions</a>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <button type="submit" class="btn btn-danger">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- /.nav-tabs-custom -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </section>

		</div>
		<!-- /.content-wrapper -->


		<!-- footer -->
		<div th:replace="footer"></div>
		<!-- /.control-sidebar -->
		<!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
		<div class="control-sidebar-bg"></div>
	</div>
	<!-- ./wrapper -->

	<div th:replace="footerScript"></div>

	<script>
		$(document).ready(function() {
			$('.sidebar-menu').tree()
		})
		$(function() {
			$('#example1').DataTable()
			$('#example2').DataTable({
				'paging' : true,
				'lengthChange' : false,
				'searching' : false,
				'ordering' : true,
				'info' : true,
				'autoWidth' : false
			})
		})
	</script>
</body>

</html>

