<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="head"></head>

<body class="hold-transition skin-blue sidebar-mini">
	<!-- Site wrapper -->
	<div class="wrapper">

		<!-- header -->
		<header th:replace="headerUser"></header>

		<!-- =============================================== -->

		<!-- Left side column. contains the sidebar -->
		<aside th:replace="navigation"></aside>

		<!-- =============================================== -->

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<section class="content-header">
				<h1>
					User <small> manage</small>
				</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
					<li><a href="#">personal</a></li>
				</ol>
			</section>

			<section class="content">
				<div class="row">
					<div class="col-xs-12">
						<div class="box">
							<div class="box-header">
								<div class="row">
									<div class="col-sm-6">
										<h2>
											User <b></b>
										</h2>
									</div>
								</div>
							</div>
							<th:block th:if="${#lists.isEmpty(listUser)}">
								<h3>No News</h3>
							</th:block>
							<!-- /.box-header -->
							<th:block th:unless="${#lists.isEmpty(listUser)}">
								<div class="box-body">
									<table id="example1" class="table table-bordered table-striped">
										<thead>
											<tr>
												<th>User ID</th>
												<th>Full name</th>
												<th>Email</th>
												<th>Mobile</th>
												<th>Status</th>
												<th>Tool</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="news : ${listUser}">
												<td th:text="${news.userID}"></td>
												<td th:text="${news.fullName}"></td>
												<td th:text="${news.email}"></td>
												<td th:text="${news.mobile}"></td>
												<td th:text="${news.userStatus}"></td>
												<td><a
													th:href="@{/listUser/view/{id}(id=${news.userID})}"
													class="view"><i class="glyphicon glyphicon-eye-open"
														title="View"></i></a></td>
											</tr>
										</tbody>
									</table>
								</div>
							</th:block>
							<!-- /.box-body -->
						</div>
						<!-- /.box -->
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</section>

		</div>
		<!-- /.content-wrapper -->


		<!-- footer -->
		<div th:replace="footer"></div>
		<!-- /.control-sidebar -->
		<!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
		<div class="control-sidebar-bg"></div>
	</div>
	<!-- ./wrapper -->

	<div th:replace="footerScript"></div>

	<script>
		$(document).ready(function() {
			$('.sidebar-menu').tree()
		})
		$(function() {
			$('#example1').DataTable()
			$('#example2').DataTable({
				'paging' : true,
				'lengthChange' : false,
				'searching' : false,
				'ordering' : true,
				'info' : true,
				'autoWidth' : false
			})
		})
	</script>
</body>

</html>

