<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="head"></head>

<body class="hold-transition skin-blue sidebar-mini">
	<!-- Site wrapper -->
	<div class="wrapper">

		<!-- header -->
		<header th:replace="headerUser"></header>

		<!-- =============================================== -->

		<!-- Left side column. contains the sidebar -->
		<aside th:replace="navigation"></aside>

		<!-- =============================================== -->

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<section class="content-header">
				<h1>
					Member <small>admin and client</small>
				</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
					<li><a href="#">Examples</a></li>
					<li class="active">Blank page</li>
				</ol>
			</section>

			<section class="content">
				<div class="row">
					<div class="col-xs-12">
						<div class="box table-wrapper">
							<div class="table-title">
								<div class="row">
									<div class="col-sm-6">
										<h2>
											Manage <b>News</b>
										</h2>
									</div>
									<!-- <div class="col-sm-6">
                                                <a href="#addEmployeeModal" class="btn btn-success" ><i class="glyphicon glyphicon-plus-sign"></i> <span>Add New User</span></a>
                                            </div> -->
								</div>
							</div>
							<!-- /.box-header -->

							<div>
								<!-- search form -->
								<form class="form-inline pull-right" action="#"
									th:action="@{/news/search}" method="GET">
									<div class="input-group">
										<input type="text" name="title" class="form-control"
											placeholder="Search..."> <span
											class="input-group-btn">
											<button type="submit" name="search" id="search-btn"
												class="btn btn-flat">
												<i class="fa fa-search"></i>
											</button>
										</span>
									</div>
								</form>
								<!-- /.search form -->
							</div>


							<th:block th:if="${#lists.isEmpty(listNews)}">
								<h3>No News</h3>
							</th:block>

							<th:block th:unless="${#lists.isEmpty(listNews)}">
								<div class="box-body">
									<table id="example2" class="table table-bordered table-hover">
										<thead>
											<tr>
												<th>URL</th>
												<th>Title</th>
												<th>Description</th>
												<th>News Status</th>
												<th>Date</th>
												<th>Tool</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="news : ${listNews}">
												<td th:text="${news.url}"></td>
												<td th:text="${news.title}"></td>
												<td th:text="${news.description}"></td>
												<td th:text="${news.newsStatus}"></td>
												<td th:text="${news.createdAt}"></td>
												<td><a th:href="@{/news/view/{id}(id=${news.newsID})}"
													class="view"><i class="glyphicon glyphicon-eye-open"
														title="View"></i></a> <a
													th:href="@{/news/edit/{id}(id=${news.newsID})}"
													class="edit"><i class="glyphicon glyphicon-edit"
														title="Edit"></i></a> <a
														data-confirm="Are you sure to delete this item?"
													th:href="@{/news/delete/{id}(id=${news.newsID})}"
													class="delete" data-toggle="modal">
													<i class="glyphicon glyphicon-trash" title="Delete"></i></a></td>
											</tr>
										</tbody>
									</table>
								</div>
							</th:block>
									<div class="box-footer">
										<a th:href="@{/news/create}" class="btn btn-success pull-left">
											<span class="glyphicon glyphicon-plus"></span> Add news
										</a>
									</div>
							<!-- /.box-body -->
						</div>
						<!-- /.box -->
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</section>

		</div>
		<!-- /.content-wrapper -->


		<!-- footer -->
		<div th:replace="footer"></div>
		<!-- /.control-sidebar -->
		<!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
		<div class="control-sidebar-bg"></div>
	</div>
	<!-- ./wrapper -->

	<div th:replace="footerScript"></div>

	<script>
		$(document).ready(function() {
			$('.sidebar-menu').tree()
		})
		$(function() {
			$('#example1').DataTable()
			$('#example2').DataTable({
				'paging' : true,
				'lengthChange' : false,
				'searching' : false,
				'ordering' : true,
				'info' : true,
				'autoWidth' : false
			})
		})
	</script>
	<script>
	var deleteLinks = document.querySelectorAll('.delete');

	for (var i = 0; i < deleteLinks.length; i++) {
	  deleteLinks[i].addEventListener('click', function(event) {
	      event.preventDefault();

	      var choice = confirm(this.getAttribute('data-confirm'));

	      if (choice) {
	        window.location.href = this.getAttribute('href');
	      }
	  });
	}
	</script>
</body>

</html>

