<!DOCTYPE html>
<html>
<head th:replace="head"></head>

<body class="hold-transition register-page">

<div class="register-box">
  <div class="register-logo">
    <a href=""><b>Admin</b>LTE</a>
  </div>

  <div class="register-box-body">
    <p class="login-box-msg">Register a new membership</p>
<div th:if="${success}"
			class="row alert alert-success alert-dismissible">
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">×</span>
			</button>
			 
			<span th:text="${success}"></span>
		</div>
		<div th:if="${fail}"
			class="row alert alert-danger alert-dismissible">
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">×</span>
			</button>
			 
			<span th:text="${fail}"></span>
		</div>

    <form action="#" th:action="@{/register/save}" th:object="${userRegister}"
		    method="POST" >
          <div th:if="${confirmationMessage}" class="alert alert-success"
          role="alert" th:text=${confirmationMessage}></div>

        <div th:if="${errorMessage}"
          class="alert alert-danger" role="alert"
          th:text="${errorMessage}"></div>


        <div th:if="${#fields.hasErrors('fullName')}"
          th:errors="*{fullName}"
          class="validation-message alert alert-danger" role="alert"></div>

        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
          class="validation-message alert alert-danger" role="alert"></div>
      <div class="form-group has-feedback">
        <input type="text" class="form-control" placeholder="Full name" th:field="*{fullName}" th:required="required">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="email" class="form-control" placeholder="Email" th:field="*{email}" th:required="required">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="text" class="form-control" placeholder="Phone" th:field="*{mobile}" th:required="required" >
        <span class="glyphicon glyphicon-phone form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="text" class="form-control" placeholder="Passs" th:field="*{password}" th:required="required" >
        <span class="glyphicon glyphicon-phone form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div>
            <a th:href="@{/login}" class="btn btn-success pull-left">
				<span class="glyphicon glyphicon-chevron-left"></span> Return Login
			</a>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
  </div>
  <!-- /.form-box -->
</div>
<!-- /.register-box -->

<!-- jQuery 3 -->
    <div th:replace="footerScript"></div>
<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' /* optional */
    });
  });
</script>
</body>
</html>
